{{#each this}}
<div class="photo-card">
    <img src="{{this.hits.webformatURL}}" alt="{{this.hits.tags}}" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{this.hits.likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{this.hits.views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{this.hits.comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{this.hits.downloads}}
        </p>
    </div>
</div>
{{/each}}